@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Lobster+Two&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Croissant+One&family=Dancing+Script:wght@500&family=Lobster+Two&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Croissant+One&family=Dancing+Script:wght@500&family=Lobster+Two&family=Tilt+Prism&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --main_color : purple;
    --bold_color : rgb(165, 22, 165);
}


.background{
    height: 100vh; 
    width: 100%;
    background-image: linear-gradient(to right, rgba(170, 22, 22, 0.589), rgba(193, 47, 115, 0.87)),url("https://images.unsplash.com/photo-1579734204067-c337a611376c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1887&q=80");
    background-size: cover;
    background-position: center;
    object-fit: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 3px 5px 10px black;
}
#first{
    padding: 0 2.5rem;
    font-family: 'Tilt Prism', cursive;
    font-size: 2.5rem;
    color: var(--main_color);
}

#second{
    font-size: 2rem;
    padding: 1rem 7rem;
    font-family: 'Dancing Script', cursive;
}

#third{
    padding: 0 1rem;
    font-family: 'Lobster Two', cursive;
    font-size: .5rem;
    color: var(--main_color);
}

.background button{
    width:120px;
    padding: 10px;
    border-radius: 80px;
    border-color: transparent;
    box-shadow: 2px 2px 10px white;
    color: white;
    margin-left: 10rem;
    margin-top: 20px;
    font-size: 1rem;
    font-family: 'Lobster Two', cursive;
    background: linear-gradient(to right, rgba(170, 22, 22, 0.589), rgba(193, 47, 115, 0.87));
}


@media(max-width:500px){
    .background{
        height: 75vh;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
    }
    
    #first{
        font-family: 'Tilt Prism', cursive;
        font-size: 2rem;
        color: black;
        text-align: center;
        font-weight: 900;
    }
    
    #second{
        font-size: 1.8rem;
        text-align: center;
        font-family: 'Dancing Script', cursive;
    }
    
    #third{
        font-family: 'Tilt Prism', cursive;
        font-size: 2rem;
        color: black;
        text-align: center;
    }
    .background button{
        width:210px;
        height: 50px;
        border-radius: 50px;
        background-color: rgb(163, 42, 99);
        color: white;
        margin: 10px auto;
        font-size: 1.5rem;
    }
}



/* services starts here */

.services{
    background: linear-gradient(to right, rgba(170, 22, 22, 0.589), rgba(193, 47, 115, 0.87));
    border: 1px solid black;
    margin: 10px;
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: 2px 2px 10px black;
}

.services h2{
    text-align: center;
    border-radius: 50px;
    color: purple;
    font-size: 45px;
    padding-top: 20px;
    margin: 30px;
    font-family: 'Dancing Script', cursive;
}
.main-services{
    display: flex;
    flex-direction: column;
    
}
.main-services .row{
    display: flex;
    justify-content: space-around;
    margin: 5px 30px;
    padding: 5px;
    padding: 10px;
    border-radius: 20px;
}

.main-services .row .col img{
    object-fit: cover;
    background-size: cover;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    box-shadow: 1px 1px 10px black;
}

.main-services .row .col p{
    text-align: center;
    font-family: 'Lobster Two', cursive;
}

@media(max-width:500px){
    
    .services h2{
        text-align: center;
        color: black;
        font-size: 30px;
        margin: 18px 13px 10px 13px;
        padding: 5px;
        background: linear-gradient(to right, rgba(170, 22, 22, 0.589), rgba(193, 47, 115, 0.87));
    }
    .main-services{
        display: flex;
        flex-direction: column;
    }
    .main-services .row{
        display: flex;
        justify-content: space-around;
        margin: 7.5px 15px;
        padding: 5px;
        padding-top: 10px;
        padding-bottom: 0px;
        border-radius: 20px;
        height: 165px;
        align-items: center;
    }
    
    .main-services .row .col img{
        object-fit: cover;
        background-size: cover;
        height: 100px;
        width: 100px;
        border-radius: 50%;
    }
    
    .main-services .row .col p{
        text-align: center;
        width: 100px;
    }
}

/* services ends here */



/* #features{
    height: 100vh;
    color: purple;
}

#features-heading{
    height: 25%;
    margin-bottom: 15px;
    font-size: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-features{
    display: flex;
    width: 100%;
    justify-content: space-around;
    padding: 0px 100px;
}

.feature{
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.features-image {
    background-image: url("https://images.unsplash.com/photo-1589710751893-f9a6770ad71b?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTd8fHNhbG9uJTIwc2hvcHxlbnwwfHwwfHx8MA%3D%3D&auto=format&fit=crop&w=600&q=60");
    object-fit: cover;
    background-position: center;
    background-size: cover;
    border: 1px solid black;
    box-shadow: 5px 10px 8px purple;
}
.feature-1{
    display: flex;
}
.feature-1 .logo{
    font-size: 40px;
    margin: 13px 0px;
    color: black;
    padding: 5px;
}

.logo-feature{
    padding: 15px;
    color: black;
}

.row h2{
    font-size: 35px;
} */

/* @media(max-width:500px) {
    #features{
        height: auto;
        color: purple;
    }
    #features-heading{
        height: 25%;
        margin: 25px 0;
        font-size: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .main-features{
        display: flex;
        flex-direction: column;
        padding: 0px 20px;
    }
    
    .feature{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .features-image {
        background-image: url("https://images.unsplash.com/photo-1589710751893-f9a6770ad71b?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTd8fHNhbG9uJTIwc2hvcHxlbnwwfHwwfHx8MA%3D%3D&auto=format&fit=crop&w=600&q=60");
        object-fit: cover;
        height: 0vh;
        background-position: center;
        background-size: cover;
        box-shadow: 5px 10px 8px purple;
    }
    .feature-1{
        display: flex;
    }
    .feature-1 .logo{
        font-size: 30px;
        margin: 13px 0px;
        color: black;
        padding: 5px;
    }
    
    .logo-feature{
        padding: 15px;
        color: black;
    }
    
    .row h2{
        font-size: 25px;
    }
} */




.contact-details{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    margin: 15px;
}
.contact-details .details{
    width: 40%;
    font-family: 'Solway', serif;
    border: 1px solid black;
}

.contact-details .details h2{
    text-align: center;
    color: black;
    font-size: 30px;
    margin: 18px 13px 10px 13px;
    padding: 5px;
    background: linear-gradient(to right, rgba(170, 22, 22, 0.589), rgba(193, 47, 115, 0.87));
    border-radius: 50px;
    margin: 10px auto;
    font-family: 'Dancing Script', cursive;
}
.contact-details .details p{
    padding: 5px;
    font-weight: 500;
    font-size: 20px;
}
.contact-details .map{
   width: 50%;
   height:70vh;
}
.contact-details .map iframe{
    width: 100%;
    height:100%;
 }
 .contact-details .details p i{
    font-size: 20px;
    font-weight: 900;
    border-radius: 50%;
    margin-right: 10px;
   }

 
@media(max-width:500px){

    .contact-details{
        flex-direction: column;
        padding: 10px;
        background: linear-gradient(to right, rgba(170, 22, 22, 0.589), rgba(193, 47, 115, 0.87));
        border-radius: 10px;
        box-shadow: 2px 2px 10px black;
        margin: 10px;
        margin-top: 20px;
    }
    .contact-details .details{
        width: 100%;
        border: none;
        margin-bottom: 10px;
    }
    
    .contact-details .map{
        width: 100%;
        height: 40vh;
    }
}
