@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Lobster+Two&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Croissant+One&family=Dancing+Script:wght@500&family=Lobster+Two&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Croissant+One&family=Dancing+Script:wght@500&family=Lobster+Two&family=Tilt+Prism&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --main_color : black;
    --bold_color : rgb(165, 22, 165);
}


/* bakcround Starts from here */
.background{
    height: 100vh; 
    width: 100%;
    background-image: linear-gradient(to right, rgba(170, 22, 22, 0.589), rgba(193, 47, 115, 0.87)),url("https://images.unsplash.com/photo-1579734204067-c337a611376c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1887&q=80");
    background-size: cover;
    background-position: center;
    object-fit: cover;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    box-shadow: 3px 5px 10px black;
}
#first{
    padding: 0 3rem;
    font-family: 'Tilt Prism', cursive;
    font-size: 2.5rem;
    color: var(--main_color);
}

#second{
    font-size: 2rem;
    padding: 1rem 7rem;
    font-family: 'Dancing Script', cursive;
}

#third{
    padding: 0 1rem;
    font-family: 'Lobster Two', cursive;
    font-size: 2.5rem;
    color: var(--main_color);
}

.background button{
    border-radius: 80px;
    box-shadow: 2px 2px 10px white;
    color: white;
    margin: 20px ;
    font-size: 1.5rem;
    font-family: 'Lobster Two', cursive;
    background: linear-gradient(to right, rgba(170, 22, 22, 0.589), rgba(193, 47, 115, 0.87));
}


@media(max-width:500px){
    .background{
        height: 75vh;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
    }
    
    #first{
        font-family: 'Tilt Prism', cursive;
        font-size: 3rem;
        color: black;
        text-align: center;
        font-weight: 900;
    }
    
    #second{
        font-size: 1.8rem;
        text-align: center;
        font-family: 'Dancing Script', cursive;
    }
    
    #third{
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 2rem;
        color: black;
        text-align: center;
    }

    .background a{
        margin: 10px auto;
    }
    .background button{
        width:210px;
        height: 50px;
        border-radius: 50px;
        background-color: rgb(163, 42, 99);
        color: white;
        margin: 15px auto;
        font-size: 1.5rem;
    }
}

/* Backgoround Ends Here */


/* services starts here */

.services{
    margin: 15px auto;
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: 2px 2px 10px black;
    padding-top: 1px;
    width: 80%;
}

.services h2{
    text-align: center;
    border-radius: 50px;
    color: black;
    font-size: 45px;
    padding: 20px;
    margin: 30px;
    background: linear-gradient(to right, rgba(170, 22, 22, 0.589), rgba(193, 47, 115, 0.87));
    font-family: 'Dancing Script', cursive;
}
.main-services{
    display: flex;
    flex-direction: column;
}
.main-services .row{
    display: flex;
    justify-content: space-evenly;
    border-radius: 20px;
    margin: 20px;
}

.main-services .row .col{
    border: 1px solid black;
    padding: 10px;
    border-radius: 10px;
    margin: 10px;
    box-shadow: 2px 2px 10px black;
    background: linear-gradient(to right, rgba(170, 22, 22, 0.589), rgba(193, 47, 115, 0.87));

}

.main-services .row .col img{
    object-fit: cover;
    background-size: cover;
    height: 350px;
    width: 350px;
}

.main-services .row .col p{
    font-size: 1.5rem;
    text-align: center;
    font-family: 'Lobster Two', cursive;
}

@media(max-width:500px){
    .services{
        width: 95%;
    }
    .services h2{
        text-align: center;
        color: black;
        font-size: 30px;
        margin: 18px 13px 10px 13px;
        padding: 5px;
        background: linear-gradient(to right, rgba(170, 22, 22, 0.589), rgba(193, 47, 115, 0.87));
    }
    .main-services{
        display: flex;
        flex-direction: column;
    }
    .main-services .row{
        display: flex;
        justify-content: space-around;
        border-radius: 20px;
        align-items: center;
    }

    .main-services .row .col{
        border: 1px solid black;
        padding: 10px;
        border-radius: 10px;
        margin: 10px;
        box-shadow: 2px 2px 10px black;
        background: linear-gradient(to right, rgba(170, 22, 22, 0.589), rgba(193, 47, 115, 0.87));
    
    }
    
    .main-services .row .col img{
        object-fit: cover;
        background-size: cover;
        height: 150px;
        width: 140px;
    }
    
    .main-services .row .col p{
        text-align: center;
        width: 140px;
        margin-top: 5px;
        font-size: 18px;
        font-weight: 700;
    }
}

/* services ends here */



.contact{
    background: linear-gradient(to right, rgba(170, 22, 22, 0.589), rgba(193, 47, 115, 0.87));
    box-shadow: 2px 2px 10px black;
    width: 80%;
    margin: 50px auto;
    border-radius: 12px;
}

.contact-heading{
    background: linear-gradient(to right, rgba(170, 22, 22, 0.589), rgba(193, 47, 115, 0.87));
    width: auto;
    text-align: center;
    font-size: 50px;
    padding: 10px;
    margin: 30px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}

.contact-details{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    margin: 15px;
}
.contact-details .details{
    border-radius: 12px;
    width: 50%;
    height: 40vh;
    font-family: 'Solway', serif;
    border: 1px solid black;
    padding: 10px;
    background-color: white;
    box-shadow: 2px 2px 10px black;
}

.contact-details .details h2{
    text-align: center;
    color: black;
    font-size: 30px;
    margin: 18px 13px 10px 13px;
    padding: 5px;
    background: linear-gradient(to right, rgba(170, 22, 22, 0.589), rgba(193, 47, 115, 0.87));
    border-radius: 50px;
    margin: 10px auto;
    font-family: 'Dancing Script', cursive;
}
.contact-details .details p{
    padding: 10px;
    font-weight: 500;
    font-size: 1.1rem;
}
.contact-details .map{
   width: 40%;
   height:40vh;border-radius: 12px;
   border: 1px solid black;
   padding: 10px;
   background-color: white;
   box-shadow: 2px 2px 10px black;
}
.contact-details .map iframe{
    width: 100%;
    height:100%;
 }
 .contact-details .details p i{
    font-size: 20px;
    font-weight: 900;
    border-radius: 50%;
    margin-right: 10px;
   }

 
@media(max-width:500px){

    .contact{
        width: 100%;
        margin: auto;
        background: white;
    }
    .contact-details{
        flex-direction: column;
        padding: 10px 0px;
    }
    .contact-heading{
        display: none;
    }
    .contact-details .details{
        width: 100%;
        border: none;
        margin-bottom: 20px;
        height: 35vh;
    }
    
    .contact-details .map{
        width: 100%;
        height: 40vh;
    }
}


.container{
    background-image: linear-gradient(to right, rgba(170, 22, 22, 0.589), rgba(193, 47, 115, 0.87)),url("https://images.unsplash.com/photo-1579734204067-c337a611376c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1887&q=80");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    display: flex;
  }
  
  form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    margin: auto;
  }
  
  input,select{
    width: 100%;
    padding: 15px;
    outline: none;
    border-radius: 50px;
    margin: 5px;
    border: 1px solid black;
    font-size: 20px;
  }
  input[type=date] {
    text-align: right;
  }
  
  input[type="date"]:before {
    color: black;
    content: attr(placeholder) !important;
    margin-right: 0.5em;
  }
    
  button{
    background-image: linear-gradient(to right, rgba(170, 22, 22, 0.589), rgba(193, 47, 115, 0.87));
    width:210px;
    height: 50px;
    border-radius: 50px;
    color: white;
    margin: 15px auto;
    font-size: 1.5rem;
    box-shadow: 2px 2px 10px white;
    outline: none;
    border: none;
  }
